In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", 
                "Wilson High School", "Wright High School"]

for school in high_schools:
    print(school)

In [4]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for out_data in high_school_types:
    print(f'("High School: " {out_data['High School']} ", Type: " {out_data[Type]}))

SyntaxError: invalid syntax (477585148.py, line 7)

In [1]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [1]:
# Add the Pandas dependency
import pandas as pd

In [3]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [8]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [9]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [4]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [5]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [7]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
# Skill Drill 4.4.0 Three separate lists of information on high schools
newschool_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

newschool_name = ["Huang High School", "Figueroa High School",
            "Shelton High School", "Hernandez High School",
            "Griffin High School", "Wilson High School",
            "Cabrera High School", "Bailey High School",
            "Holden High School", "Pena High School",
            "Wright High School", "Rodriguez High School",
            "Johnson High School", "Ford High School"
            "Thomas High School"]

newtype_of_school = ["District", "District", "Charter", "District","Charter",
                 "Charter", "Charter", "District",
                 "Charter", "Charter", "Charter",
                 "District", "District", "District", "Charter"]

In [14]:
# Initialize a new DataFrame.
newschools_df = pd.DataFrame()

In [15]:
# Add the list to a new DataFrame.
newschools_df["School ID"] = newschool_id
newschools_df["School Name"] = newschool_name
newschools_df["Type"] = newtype_of_school

# Print the DataFrame.
newschools_df

ValueError: Length of values (14) does not match length of index (15)